@{
    ViewData["Title"] = "Escuela superior";
}

<div class="text-center">
     <h1 class="display-4">ID:@Model.EscuelaId</h1>
    <h1 class="display-4">Nombre:@Model.Nombre</h1>
    <h1 class="display-4">Fecha de fundación:@Model.añoFundacion</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
